
    <div>         
        <img class="avatar" src="{{ usuario['url_foto'] }}" alt="Foto do Usuário">
        <p id="idUser" data-id-usuario="{{ usuario['id'] }}">ID: {{ usuario['id'] }}</p>
        <p>Matricula: {{ usuario['mat_solic'] }}</p>
        <p>Nome: {{ usuario['nome'] }}</p>
        <p>Email: {{ usuario['email'] }}</p>
    </div> 

   
     
